.boton-mapa-leaflet{
    position: absolute;
        top: 20px;
        right:45%;
        z-index: 1000; /* Esto lo pone por encima del mapa */
        background: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);

}
.boton-mapa-leaflet:hover {
        background: #0056b3;
    }